In [1]:
from python import pydb
import pandas as pd
import numpy as np
import random

In [2]:
table = pydb.Table("/tmp/pydb", "table_1", time_column="t", tag_columns=["s"], float_value_columns=["c"])
df = table.query_df(columns=["t"])
t = df.t.to_numpy()

Query time: 0.8281851199999437

In [8]:
random.seed(22)
df_size = 1000000
for e in range(1, 100):
    try:
        symbol = ''.join(chr(random.randrange(ord("A"), ord("Z") + 1)) for _ in range(4))
        s_id = table.table.mint_str_refs([symbol])[0]
        df = pd.DataFrame({
            "t": np.arange(df_size).astype(np.int64),
            "s": s_id*np.ones(df_size, dtype=np.dtype("uint32")),
            "c": np.arange(df_size).astype(np.float32) / 10,
        })
        table.append_data_df(df)
        print(symbol)
    except:
        print("Data already in.")
        break

Data already in.

In [22]:
table.query_df(time_end=10000, s="ADQV")

Query time: 0.0003070129996558535

                                 t     s           c
0    1970-01-01 00:00:00.000000000  ADQV    0.000000
1    1970-01-01 00:00:00.000000001  ADQV    0.100000
2    1970-01-01 00:00:00.000000002  ADQV    0.200000
3    1970-01-01 00:00:00.000000003  ADQV    0.300000
4    1970-01-01 00:00:00.000000004  ADQV    0.400000
...                            ...   ...         ...
9995 1970-01-01 00:00:00.000009995  ADQV  999.500000
9996 1970-01-01 00:00:00.000009996  ADQV  999.599976
9997 1970-01-01 00:00:00.000009997  ADQV  999.700012
9998 1970-01-01 00:00:00.000009998  ADQV  999.799988
9999 1970-01-01 00:00:00.000009999  ADQV  999.900024

[10000 rows x 3 columns]