In [3]:
from python import pydb
import pandas as pd
import numpy as np

/home/piter/CLionProjects/PyDB/cmake-build-release

In [4]:
table = pydb.Table("/tmp/pydb", "table_1")
df = table.query_df(columns=["t"])
t = df.t.to_numpy()

Query time: 0.8345790300008957

In [4]:
i = pd.DatetimeIndex(t)

In [5]:
x = pd.to_datetime(t)

In [7]:
pd.Timestamp(t)

TypeError: Cannot convert input [[     0      1      2 ... 999997 999998 999999]] of type <class 'numpy.ndarray'> to Timestamp

In [12]:
x.to_numpy()

array(['1970-01-01T00:00:00.000000000', '1970-01-01T00:00:00.000000001',
       '1970-01-01T00:00:00.000000002', ...,
       '1970-01-01T00:00:00.000999997', '1970-01-01T00:00:00.000999998',
       '1970-01-01T00:00:00.000999999'], dtype='datetime64[ns]')

In [5]:
t.astype(np.dtype('datetime64[ns]'))

array(['1970-01-01T00:00:00.000000000', '1970-01-01T00:00:00.000000001',
       '1970-01-01T00:00:00.000000002', ...,
       '1970-01-01T00:00:00.000999997', '1970-01-01T00:00:00.000999998',
       '1970-01-01T00:00:00.000999999'], dtype='datetime64[ns]')

In [16]:
x.dtype

dtype('<M8[ns]')

In [9]:
ts = pd.to_datetime("2014-08-08")

In [18]:
pd.to_datetime("2014-08-08").to_datetime64().astype(np.int64)

1407456000000000000

In [17]:
pd.to_datetime("2014-08-08").to_datetime64().dtype

dtype('<M8[ns]')